
  <div class="container">
	

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://image.flaticon.com/icons/svg/206/206883.svg">
                </div>
                <div class="info" *ngFor='let driver of drivers'>
                    <div class="title">
                        {{driver.driverName}}
                    </div>
                    <div class="desc">{{ driver.driverMobile}}</div>
                    <div class="desc">{{driver.driverEmail}}</div>
                    <div class="desc">Professtional</div>
                </div>
                <div class="bottom">
                   
                    <button class="btn btn-danger btn-sm" (click)='onNoClick()'>OK</button>
                </div>
            </div>

</div>
