

  <div class='card-body'>
      <div class='table-responsive'>
          <table class='table' *ngIf='drivers && drivers.length'>
              <thead>
                  <tr>             
                      <th>Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                     
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let driver of drivers'>
                      <td>{{ driver.driverName }}</td>
                      <td>{{ driver.driverEmail}}</td>
                      <td>{{ driver.driverMobile }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <button (click)='onNoClick()'>OK</button>
  </div>

