#matcard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    background: white;
}
.btn-danger{
    margin-right: 2%;
}
mat-card{
    background-image:url("https://thumbs.dreamstime.com/t/cartoon-delivery-courier-cartoon-delivery-courier-fast-delivery-boy-motorbike-vector-illustration-delivering-guy-heavy-118735290.jpg");
     background-repeat: repeat;
     background-position:left;
     background-size: initial;

}
#fb{
    background-color: blue;
    margin-left: 5px;
}
#google{
    background-color: red;
    margin-right: 5px;
}