<mat-card id=matcardMain>
<mat-card id="matcard">
  <mat-card-content>
    <form class="my-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field class="inputLogin">
        <mat-label>Enter Email</mat-label>
        <input matInput placeholder="johnsmith@hotmail.com" type="email" name="email" formControlName="email">
     </mat-form-field>
     <br>
      <mat-form-field class="inputLogin">
        <mat-label>Enter Password</mat-label>
        <input matInput placeholder="Must be at least 6 characters"  type="password" name="password" formControlName="password">
      </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary" id="loginBtn">Login</button>
  </mat-card-actions>
  <div>
  <label id="socialLabel" >or</label>
  </div>
  <div class="socialLogin">
  <button mat-raised-button color="primary" (click)="loginGoogle()"
  matTooltip="Log in with Google" id="google">Google  </button>
  <button mat-raised-button color="primary" (click)="loginFb()"
  matTooltip="Log in with Facebook" id="fb">Facebook</button>
  </div>
</mat-card>
</mat-card>


