#matcard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    background: white;
}
.btn-danger{
    margin-right: 2%;
}
mat-card{
    background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:10px;

}
#fb{
    background-color: blue;
    margin-left: 5px;
}
#google{
    background-color: red;
    margin-right: 5px;
}
#loginBtn
{
    width: 40%;
    margin-left: 95px;

}