<mat-card>
<mat-card id="matcard">
  <mat-card-content>
    <form class="my-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" name="email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" name="password" formControlName="password">
      </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
  <button mat-raised-button color="primary" (click)="loginGoogle()"
  matTooltip="Log in with Google" id="google">Google  </button>
  <button mat-raised-button color="primary" (click)="loginFb()"
  matTooltip="Log in with Facebook" id="fb">Facebook</button>
</mat-card>
</mat-card>


