#deliveryDudes{
font-family: AR Berkley;
font-size: 30px;
width: 30%;

}

#register{
    margin-right: 5%;
}

*{
background-color: blueviolet;

}
.color{
    background-color:#6572E3;
    border-radius: 0.5ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
}
