<<<<<<< HEAD
#deliveryDudes{
font-family: AR Berkley;
font-size: 30px;
width: 30%;
/* margin-left: 35%;
margin-right: 30%; */
}

#register{
    margin-right: 5%;
=======
.color{
    background-color:  #ccc;
    border-radius: 0.5ch;
>>>>>>> 08111561d4b973c9e3705354be26c9151218fc56
}