<mat-toolbar class="color">
  
  <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" > Delivery D's </button>
  
  <button mat-button routerLinkActive="active" routerLink="delivery-list" *ngIf="userLoggedIn()"> My Deliveries </button>
  <button mat-button routerLinkActive="active" routerLink="add-delivery" *ngIf="userLoggedIn()"> Request Delivery </button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="customer"> My Details </button>

  <span style="flex:1 1 auto"></span>
  <button mat-button  routerLinkActive="active" *ngIf="!isLoggedIn" routerLink="login">Login</button>
  <button mat-button  routerLinkActive="active" *ngIf="isLoggedIn" (click)=onLogout()>Logout</button>
  <button mat-button  routerLinkActive="active" routerLink="/signup" *ngIf="!isLoggedIn">Register</button>
</mat-toolbar>
