agm-map {
  height: 450px;
  width: 540px;
  text-align: center;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}


mat-form-field {
  width: 100%;

}
mat-card{
width:50%;
float: left;
}
.container{
  background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  padding:10px;
  height: 520px;
}
