    <!--Google maps, cant put maps inside form
    Considering to make a maps component because this doesnt look too good-->
    <div class="container">
    <div *ngIf="lat && lng">
        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onClick($event)">    
          <agm-marker [latitude]="lat" [longitude]="lng">   
            <agm-info-window>
              <h3><strong>Howdy!</strong></h3>
              <p>You are here!
                {{ lat }}
                {{ lng }}
              </p>
            </agm-info-window>     
          </agm-marker>      
          <agm-marker [latitude]="clickLat" [longitude]="clickLng" *ngIf="isclicked">
            <agm-info-window>
              <h3><strong>Howdy!</strong></h3>
              <p>You clicked here
                {{ clickLat }}
                {{ clickLng }}
              </p>
            </agm-info-window>      
          </agm-marker>    
        </agm-map>      
      <div>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>Make a Request</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input [(ngModel)]="locationFrom" name="locationFrom" matInput placeholder="From" type="locationFrom" readonly>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [(ngModel)]="locationTo" name="locationTo" matInput placeholder="To" type="locationTo" readonly>
      </mat-form-field>
      <br>
<!--  Get Driver's name from firebase for selection dropdownlist -->
      <mat-form-field>
          <mat-select placeholder="Pick your  DeliveryDude" >
              <mat-option *ngFor="let d of dudes" value="{{d.driverName}}">{{d.driverName}}</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="cargoType" name="cargoType" matInput placeholder="Type of Delivery" type="cargoType"
        formControlName="cargoType">
      </mat-form-field>
      <br>
      <mat-form-field >
        <input [(ngModel)]="costOfDelivery" name="costOfDelivery" matInput placeholder="Price" type="costOfDelivery" readonly>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input [(ngModel)]="description" name="description" matInput placeholder="Description" type="description"
        formControlName="description">
      </mat-form-field>
      <br>
      <button (click)="makeRequest()" mat-raised-button color="primary">Make Request</button>
    </form>
  </mat-card-content>
</mat-card>
</div>