agm-map {
  height: 400px;
  width: 540px;
  text-align: center;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
mat-form-field {
  width: 100%;
  
}
mat-card{
width:50%;
float: left;
}
