#remove{
    background-color: #65E397;
    color: white;
}

#search{
    width: 50%;
}

.card-body{
  
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:10px;
}

/*th, td {
    text-align: left;
    padding: 8px;
}*/

tr:nth-child(even) {
    background-color: #d2f7e5;
}
th {
    background-color:#65E3D6;
    color: white;
  }

  
