<div class='card'>
  <div class='card-body'>
        <div class="input-group mb-3" id="search">
                <input type="text" class="form-control" placeholder="Address To" aria-label="Filter by:" aria-describedby="basic-addon1"
                  [(ngModel)]="listFilter"/>
            </div>
            <h5 class="card-text">Filtered by: {{ listFilter }}</h5>
      <div class='table-responsive'>
          <table class='table' *ngIf='deliveries && deliveries.length'>
              <thead>
                  <tr>             
                      <th>From</th>
                      <th>To</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Driver</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let product of filterDeliveries'>
                      <td>{{ product.locationFrom }}</td>
                      <td>{{ product.locationTo}}</td>                    
                      <td>{{ product.description }}</td>
                      <td>{{ product.costOfDelivery | currency: 'EUR':'symbol':'1.2-2' }}</td>
                      <td><button 
                            mat-raised-button color="primary"  (click)="openDialog(product.driverID)">See Driver
                        </button>
                        </td>
                        <td><button id="remove" class="btn" (click)="deleteRequest(product.id)"><i class="fa fa-trash"></i>Delete</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>