<div class='card'>
  <div class='card-body'>
      <div class='table-responsive'>
          <table class='table' *ngIf='deliveries && deliveries.length'>
              <thead>
                  <tr>             
                      <th>locationFrom</th>
                      <th>locationTo</th>
                      <th>description</th>
                      <th>Price</th>
                      <th>Driver</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let product of deliveries'>
                      <td>{{ product.locationFrom }}</td>
                      <td>{{ product.locationTo}}</td>
                      <td>{{ product.description }}</td>
                      <td>{{ product.costOfDelivery | currency: 'EUR':'symbol':'1.2-2' }}</td>
                      <td><button 
                            mat-raised-button color="primary"  (click)="showDivertComponent()">See Driver
                        </button>
                        </td>
                        <td><button id="remove" class="btn" (click)="deleteRequest(product.id)"><i class="fa fa-trash"></i>Trash</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>