<mat-card>
<mat-card *ngIf="!isClicked" id="matcard">
  <mat-card-header>
    <mat-card-title>
      <h4 id="formHeader">Register New Customer</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="form">
      <mat-form-field  class="registerInputs">
          <mat-label>Enter Email</mat-label>
        <input [(ngModel)]="email" name="email" matInput placeholder="Example johnsmith@hotmail.com" type="email">
      </mat-form-field>
      <br>
      <mat-form-field  class="registerInputs">
          <mat-label>Enter Password</mat-label>
        <input [(ngModel)]="pwd" name="password" matInput placeholder="Must be at least 6 characters" type="password" >
      </mat-form-field>
      <br>
      <mat-form-field class="registerInputs">
          <mat-label>Enter your full name</mat-label>
        <input [(ngModel)]="name" name="name" matInput placeholder="Example: John Smith">
      </mat-form-field>
      <br>
      <mat-form-field class="registerInputs">
          <mat-label>Enter your phone number</mat-label>
        <input [(ngModel)]="phone" name="phone" matInput placeholder="e.g. 00353 86 1234567"  pattern='[0-9]{8}([0-9]{2})?' type="phone">
      </mat-form-field>
      
      <br>
      <button id="registerBtn" (click)="register()" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card-content>
</mat-card>
</mat-card>
<mat-card *ngIf="isClicked">
  <mat-card-header>
    <mat-card-title>
      <h4>Yayy!!</h4><br>
      <h4>Registration Complete</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Please check your email and click on the link to verify your account.</p>
  </mat-card-content>
</mat-card>