#matcard{
    display: block;
    width: 45%;
    margin-top: 10%;
    margin-bottom: 10%;
    background: white;
    margin-left: 25%;
    height: 20%;
   
}
mat-card{
     background-image:url("https://www.icoderzsolutions.com/image/fd-03.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size:cover; 
}

#formHeader
{
    display: inline;
    margin-left: 33%;
    margin-right: -35%;
}
.registerInputs{
    width: 80%;
    margin-left: 10%;
}
#registerBtn{
    margin-left: 25%;
    margin-right: 83%;
    width: 45%;
}