<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>Register New Customer</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input [(ngModel)]="email" name="email" matInput placeholder="email" type="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [(ngModel)]="pwd" name="password" matInput placeholder="password" type="password" >
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [(ngModel)]="name" name="name" matInput placeholder="name">
      </mat-form-field>
      <br>
      <mat-form-field >
        <input [(ngModel)]="phone" name="phone" matInput placeholder="phone" type="phone">
      </mat-form-field>
      
      <br>
      <button (click)="register()" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card-content>
</mat-card>