<mat-card id="matcard">
<mat-card id="matcard2">

<div class="cover-photo"></div>
<div class="body">
  <section class="left-col user-info">
    <div class="profile-avatar">
      <div class="inner"></div>
    </div>
    <div class="meta" *ngFor="let c of customers" >
    <h1>{{ c.name }}</h1>
    <h2>Customer</h2>
      <p><i class="fa fa-fw fa-map-marker"></i> Ireland</p>
      <p><i class="far fa-envelope"></i> {{ c.email }}</p>
      <p><i class="fa fa-fw fa-clock-o"></i> Joined Dec 26, 2008</p>
    </div>
  </section>
  <section class="section center-col content">
    <!-- Nav -->
    <nav class="profile-nav">
      <ul>
        <li class="active">Activity</li>
        <li>Looks</li>
        <li>Hyped</li>
        <li>Loved</li>
      </ul>
    </nav>
    
    <!-- Wil hyped X-->
    <div class="unit user-hyped">
      <h3>  </h3>
      
    </div>   
  </section>
</div>
</mat-card>
</mat-card>
